/* Vars */
:root {
  --menuBorderColor: rgb(238, 238, 238);
  --albumHeight: 30rem;
  --boxShadow: 3px 5px 10px var(--black);
  --white: rgb(253, 253, 253);
  --brightWhite: rgb(255, 255, 255);
  --black: rgb(3, 3, 3);
  --red: rgb(254, 87, 87);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background: var(--white);
  }

  /* Header */
  .header {
    height: 40vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  .header__lowerLayer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80% 1fr;
    grid-template-areas:  "bgImage"
                          "gradient";
    z-index: 10;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;
  }

  .header__upperLayer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 1fr;
    grid-template-areas:  "spacer"
                          "logo";
    z-index: 20;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .header__image {
    width: 100%;
    grid-area: bgImage;
  }

  .header__image img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }

  .header__gradient {
    grid-area: gradient;
    background: linear-gradient(rgb(50,50,50), rgb(255,255,255));
  }

  .header__textBox {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: 5px solid var(--white);
    background: rgba(0,0,0, 0.7);
    color: var(--white);
    padding: 1rem;
    box-shadow: var(--boxShadow);
  }

  .header__headerText {
    margin: 0 auto;
    font-size: 3rem;
    font-family: 'Jura', sans-serif;
  }


  /* Search Area */

  .searchArea {
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-areas:  "left searchbar cancel right"
                          "left autocomplete bottom right";
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr 60% 10% 1fr;
    grid-column-gap: 10px;
    padding-top: 5rem;
    font-family: 'Muli', sans-serif;
    z-index: 40;
  }

  .searchArea__input {
    font-size: 1.25rem;
    grid-area: searchbar;
    padding-left: 1rem;
    background: var(--brightWhite);
  }

  .searchArea__clearInput { 
    grid-area: cancel;
    background: var(--red);
  }

  .searchArea__clearInputIcon {
    height: 2rem;
    width: 2rem;
  }
  
  .searchArea__autoCompleteMenu {
    grid-area: autocomplete;
    border-right: 1px solid var(--menuBorderColor);
    border-bottom: 1px solid var(--menuBorderColor);
    border-left: 1px solid var(--menuBorderColor);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    padding-top: 20px;
    background: var(--white);
    z-index: 30;
  }
  .searchArea__autoCompleteItem {
    font-size: 1.25rem;
    height: 2rem;
    padding: 5px 5px 5px 1rem;

  }

  /* Album Timeline */

  .errorMessage {
    margin-top: 2rem;
    font-family: 'Muli', sans-serif;
    color: var(--red);
    font-size: 2rem;
    text-align: center;
  }

  .albumTimeline {
    font-family: 'Muli', sans-serif;
  }

  /* Album */

  .album {
    display: grid;
    grid-template-columns: 10% 7px 20% 50%;
    grid-template-rows: 20% 20% 3px auto;
    grid-template-areas:"leftGutter verticalBar topGutter     topGutter"
                        "leftGutter verticalBar albumYear     albumMain"
                        "leftGutter verticalBar horizontalBar albumMain"
                        "leftGutter verticalBar bottomGutter  albumMain";
    height: auto;
    grid-row-gap: 10rem;
    width: 100%;
  }

  .alubmTimeline__timelineBar {
    grid-area: verticalBar;
    background: var(--black);
  }

  .album__horizontalBar {
    grid-area: horizontalBar;
    background: var(--black);
    color: var(--white);
    height: 100%;
    width: 100%;
  }

  .album__year {
    grid-area: albumYear;
    text-align: center;
    font-size: 1.5rem;
  }

  .album__main {
    grid-area: albumMain;
    display: grid;
    z-index: 10;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:  "albumTitle"
                          "albumImg";
    grid-row-gap: 20px;
    animation: 0.9s ease fade-in;
    border: 1px solid var(--black);
    border-radius: 2px;
    padding: 20px;
    box-shadow: var(--boxShadow);
    background: var(--brightWhite);
  }

  .album__title {
    grid-area: albumTitle;
    text-align: center;
    font-size: 2rem;
  }

  .album__image {
    grid-area: albumImg;
  }

  .album__image img {
    max-width: 100%;
    max-height: var(--albumHeight);
    display: block;
    margin: 0 auto;
    border: 1px solid var(--black);
    border-radius: 2px;
  }

  @keyframes fade-in {
      from {
        opacity: 0.5;
      }
      to {
        opacity: 1;
      }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header__image img {
    margin-top: -5rem;
  }
  .album {
    grid-template-columns: 10% 7px 20% 40%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header__image img {
    margin-top: -10rem;
  }
  .album {
    grid-template-columns: 10% 7px 20% 30%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header__image img {
    margin-top: -12rem;
  }
}


/* Util classes */
.hidden {
  display: none;
}
